/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


div {
    font-family: 'Gochi Hand', cursive;
    font-size: large;
}



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.maintitle {
    font-family:Calibri;
    font-size:20px;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
   background-color:#1b6ec2;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.lobbyinstructions {
   margin-left:auto;
   margin-right:auto;
}

.Card {
    background: url("/images/cards_deck.png");
    width: 74px;
    height: 110px;
    padding: 5px 5px 5px 5px;
    margin: 3px;
}

.Card:hover{
    transform: scale(1.1);
    transform: translateY(-10px);
}

.CardBack {
    background-position-y: -441px;
    background-position-x: 0px;

}
.CardW {
    background-position-x: -950px;
}

.Card-4 {
    background-position-x: -1023px;
}

.CardBlack{
    background-position-y:-440px;
}

.CardRed{
    background-position-y:0px;
}
.CardBlue{
    background-position-y: -330px;
}
.CardGreen{
    background-position-y: -220px;
}
.CardYellow{
    background-position-y: -110px;
}

.Card0{
    background-position-x: -0px;
}
.Card1 {
    background-position-x: -73px;
}
.Card2 {
    background-position-x: -146px;
}
.Card3 {
    background-position-x: -219px;
}
.Card4 {
    background-position-x: -292px;
}
.Card5 {
    background-position-x: -365px;
}
.Card6 {
    background-position-x: -438px;
}
.Card7 {
    background-position-x: -512px;
}
.Card8 {
    background-position-x: -585px;
}
.Card9 {
    background-position-x: -658px;
}
.CardS {
    background-position-x: -731px;
}
.CardR {
    background-position-x: -804px;
}
.CardD
{
    background-position-x: -877px;
}

.roomCode{
    font-family:Calibri;
    font-weight:bold;
    font-size:xx-large;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
}

.WildColorButton {
    height: 50px;
    width: 30px;
    padding: 5px 5px 5px 5px;
}

.deckareagrid{
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    justify-items: center;
  vertical-align:central;
}

.dirarrowgrid{
    grid-column: 1/-1;
}

.deckarea {
   margin-left: auto; 
   margin-right:auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 25% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
