@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <input type="button" id="break" value="Debug" onclick="debug()" />
    <div id="Lobby">
        <div class="jumbotron maintitle">
            <h1>Eins</h1>
            <p>Welcome to Eins. An oddly familiar card game built for the COVID-19 world.</p>

        </div>
        <div class="card lobbyinstructions">
            <div class="card-header">First things first...</div>
            <div class="card-body">
                <p class="centered">
                    To begin, enter a screen name.<br />
                </p>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Name:</span></div>
                    <input type="text" id="userInput" required autofocus />
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row" id="roomChoices" style="display:none;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">Then, Join a room.&nbsp;&nbsp;&nbsp;-OR-</div>
                    <div class="card-body">
                        <p>Everyone else: enter the room code and join the room.<br /></p>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">Room ID:</span></div>
                            <input type="text" style="text-transform: uppercase;" id="RoomID" />
                            &nbsp;&nbsp;
                            <input type="button" id="joinButton" disabled value="Join Room" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">Start a new room.</div>
                    <div class="card-body">
                        <p>One person in your group click New Room to get a room code.<br /></p>
                        <div class="input-group">
                            <input type="button" id="newbutton" value="New Room" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="patchNotescard">
            <div class="card-header">
                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#patchNotes" aria-expanded="false" aria-controls="patchNotes">
                    v1.1 Patch Notes
                </button>
            </div>
            <div id="patchNotes" class="collapse">
                <div id="patches" class="history card-body">
                    <p>Added current player name at top of screen.  Moved player name/room to bottom of screen.</p>
                    <p>Fixed issue with green cards being cut off.</p>
                    <p>Added history of plays section below Hand section.</p>
                    <p>Included player scores in lobby section.</p>
                    <p>Indicate when discard pile is shuffled back into deck when deck is exhausted.</p>
                    <p>Fixed issue when playing as single player and last card is a draw card.  This now behaves correctly and deals the cards but does not end the game.</p>
                    <p>Added patch notes (this) to lobby section.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="waitingroom" style="display: none;">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="card text-center">
        <div class="card-header">Room ID</div>
        <h1 class="card-title roomCode" id="roomcode"></h1>
        <div class="card-footer">Wait here for other players to join.<br />When everyone is here, someone can click Deal to start the game.</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="card">
        <div class="card-header">Players</div>
        <div class="card-body">
            @*<ol id="Players"></ol>*@
            <table class="table">
                <tbody id="Players"></tbody>
            </table>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <input class="centered" type="button" id="dealbutton" value="deal" />
</div>
<div id="gametable" class="container" style="display: none; background-color: white;">
    <div class="row">&nbsp;</div>
    <div class="card">
        <div class="card-header text-center">
            <div>Now Playing</div>
            <div class="carousel slide" id="nowPlaying">
                <div class="carousel-inner" id="currentPlayerList"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="deckareagrid centered">
                    <div style="text-orientation:upright; writing-mode:vertical-lr;" id="leftplayer"></div>
                    <div class=" Card" id="discardPile">&nbsp;</div>
                    <div><a href="#" class="btn btn-info" role="button" id="endTurn" onclick="EndTurnClick()">End Turn</a></div>
                    <div class="Card CardBack" id="deck">&nbsp;</div>
                    <div style="text-orientation:upright; writing-mode:vertical-lr;" id="rightplayer"></div>
                    <div class="dirarrowgrid"><img id="directionarrow" width="80%" height="20px" src="~/images/dirarrow.png" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div id="MyHand" class="flex-container"></div>
            <div class="card" id="historyCard">
                <div class="card-header">
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#historyPanel" aria-expanded="false" aria-controls="historyPanel">
                        History
                    </button>
                </div>
                <div id="historyPanel" class="collapse">
                    <div class="card-body">
                        <p>Most recent play on top:</p>
                        <div id="History" class="history"></div>
                    </div>
                </div>
            </div>
            <div class="card" id="cardCount">
                <div class="card-header">
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#countPanel" aria-expanded="false" aria-controls="countPanel">
                        Card Counts
                    </button>
                </div>
                <div id="countPanel" class="collapse">
                    <div id="counts" class="history card-body"></div>
                </div>
            </div>
            <div class="text-center maintitle" id="tableroomid"></div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="WildColorButtons">
            <table style="align-content: center;">
                <tr>
                    <td>
                        <div class="WildColorButton" id="pickRed" style="background-color: #ff5555;" onclick="WildColorClick('Red')" />
                    </td>
                    <td>
                        <div class="WildColorButton" id="pickYellow" style="background-color: #ffaa00;" onclick="WildColorClick('Yellow')" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="WildColorButton" id="pickGreen" style="background-color: #55aa55;" onclick="WildColorClick('Green')" />
                    </td>
                    <td>
                        <div class="WildColorButton" id="pickBlue" style="background-color: #5555ff;" onclick="WildColorClick('Blue')" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="Notice" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="col-12" style="text-align:center;" id="notification">THis is the default</div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/eins.js"></script>
